.profile-header-wrapper {
  background: linear-gradient(to bottom, rgba(0,0,46,1)75%, rgba(0,0,46,0));
}

.profile-header-infos {
  padding: 20px 0;
  color: #988f2a;
}

.profile-header-infos h1 {
  letter-spacing: -1px;
  font-size: 1.85em;
}

.profile-header-infos h2 {
  letter-spacing: -1px;
  font-weight: 200;
  font-size: 1.15em;
  margin-bottom: 0;
}
